server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        
        - id: notification-websocket
          uri: http://notification-service:8080
          predicates:
            - Path=/ws/notifications/**
        
        
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/?(?<segment>.*), /api/auth/$\{segment}
          
       
        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/users/**
          filters:
            - RewritePath=/users/?(?<segment>.*), /api/users/$\{segment}
        
       
        - id: team-service
          uri: http://team-service:8080
          predicates:
            - Path=/teams/**
          filters:
            - RewritePath=/teams/?(?<segment>.*), /api/teams/$\{segment}
        
        
        - id: channel-service
          uri: http://channel-service:8080
          predicates:
            - Path=/channels/**
          filters:
            - RewritePath=/channels/?(?<segment>.*), /api/channels/$\{segment}
        
 
        - id: chat-service
          uri: http://chat-service:8080
          predicates:
            - Path=/chat/**
          filters:
            - RewritePath=/chat/?(?<segment>.*), /api/chat/$\{segment}
        
      
        - id: meeting-service
          uri: http://meeting-service:8080
          predicates:
            - Path=/meetings/**
          filters:
            - RewritePath=/meetings/?(?<segment>.*), /api/meetings/$\{segment}
        
        
        - id: file-service
          uri: http://file-service:8080
          predicates:
            - Path=/files/**
          filters:
            - RewritePath=/files/?(?<segment>.*), /api/files/$\{segment}
        
       
        - id: notification-service
          uri: http://notification-service:8080
          predicates:
            - Path=/notifications/**
          filters:
            - RewritePath=/notifications/?(?<segment>.*), /api/notifications/$\{segment}
        
       
        - id: task-service
          uri: http://task-service:8080
          predicates:
            - Path=/tasks/**
          filters:
            - RewritePath=/tasks/?(?<segment>.*), /api/tasks/$\{segment}
        
      
        - id: search-service
          uri: http://search-service:8080
          predicates:
            - Path=/search/**
          filters:
            - RewritePath=/search/?(?<segment>.*), /api/search/$\{segment}
      
      
jwt:
  secret: DevBlockerSecretKeyForJWTTokenGeneration123456789012345678901234567890
  expiration: 86400000


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.connect.API.Gateway: DEBUG
